<div class="bg-white p-10 w-[35rem] min-h-[30rem] rounded-md shadow-2xl shadow-stone-200">
    <div class="flex justify-between items-end">
        <p class="font-bold text-3xl">Todo</p>
        <div class="">
            <p class="font-semibold text-lg text-right">Today</p>
            <p class="text-sm">{{date}}</p>
        </div>
    </div>

    <hr class="h-0.5 my-3 text-slate-300 w-full" />

    <form class="flex gap-3 mt-4" (submit)="addTodo()">
        <input type="text" [(ngModel)]="inputText" name="todoText" placeholder="Add new task"
            class="placeholder:text-slate-300 rounded-sm border border-slate-300 p-2 w-full">
        <p (click)="addTodo()"
            class="flex justify-center items-center bg-violet-700 px-2.5 rounded-sm text-white text-2xl">
            <i class="bi bi-plus-lg"></i>
        </p>
    </form>

    @if (todo.length!=0) {
    <div class="mt-4 flex flex-col gap-4 overflow-y-scroll h-72">
        @for(i of todo; track $index)
        {
        <div class="flex gap-3 items-start font-semibold hover:bg-stone-100 p-1 rounded-md px-2">
            <p (click)="setTodoComplete(i.id)"
                class="flex justify-center items-center border-[2.7px] h-8 w-8 border-violet-700 text-xl">
                @if (i.completed) {
                <i class="bi bi-check-lg"></i>
                }
            </p>
            <p class="w-full {{i.completed ?'line-through':''}}">{{i.title}}</p>
            <p (click)="deleteTodo(i.id)" class="flex justify-center items-center h-8 w-8 text-2xl">
                <i class="bi bi-trash"></i>
            </p>
        </div>
        }
    </div>
    }
    @else {
    <div class="font-semibold text-center text-2xl mt-24">Not todo present 🎉</div>
    }

</div>