<!-- <p class="text-center font-semibold text-4xl">Hello, Pranav</p> -->
<!-- <app-counter></app-counter> -->

<div class="bg-amber-300 px-10 py-2 text-blue-500 font-semibold rounded-lg w-fit m-40 cursor-pointer"
    (click)="toggleToggle()">
    @if (toggle) {Open}
    @else{Close}
</div>


@if (toggle) {
<div class="bg-emerald-300 p-5 ">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, numquam.
</div>
}
@else {
<div class="bg-rose-300 p-5 {{toggle ?'font-semibold':'mt-56'}}">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, numquam.
</div>
}